* {
	margin: 0;
	font-family: 'Cascadia Code', Arial, Helvetica, sans-serif;
}
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--background-color: rgba(0, 0, 0, 0.5);
	--rainbow: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
}

body {
	background-color: darkslategrey;
	color: white;
}

#header {
	background: var(--rainbow);
	height: 1vh;
	width: 100vw;
	position: fixed;
	background-size: 200%;
	animation: moveGradient 5s linear infinite;
	z-index: 1;
}

@keyframes moveGradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -200% 0%;
	}
}

#page {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	top: 1vh;
}

#sidebar {
	position: fixed;
	background-color: var(--background-color);
	top: 1vh;
	width: 15vw;
	height: 100vh;
}

.sidebar-link {
	padding: 15px;
}

#content {
	position: relative;
	padding: 15px;
	left: 15vw;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto;
}

.component,
.game-component {
	position: relative;
	border: 2px solid black;
	width: 24vw;
	height: 15vh;
	margin: 15px;
	padding: 15px;
	background-color: var(--background-color);
	border-radius: 0.5rem;
	text-align: left;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

#intro {
	text-align: left;
	position: relative;
	border: 2px solid black;
	padding: 15px;
	margin: 15px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
	border-radius: 0.5rem;
	background-color: var(--background-color);
	filter: drop-shadow(0px 0px 20px red) invert(100%);
}

.game-component {
	text-align: center;
}

.component:hover {
	filter: drop-shadow(0px 0px 20px red) invert(100%);
}

.game-player:hover {
	filter: drop-shadow(0px 0px 20px lime);
	transform: translate(-50% -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.languageName {
	padding: 10px;
	bottom: 0;
	right: 0;
	position: absolute;
}

.links {
	padding: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.stats {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 15px;
}

.stars {
	position: absolute;
	padding: 10px;
	top: 0;
	right: 0;
}

.description {
	padding-top: 10px;
	padding-bottom: 20px;
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 60px;
	width: 120px;
	background-color: lime;
	border-radius: 20%;
	transform: translate(-50%, -50%);
}

.triangle {
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 20px;
	width: 20px;
	clip-path: polygon(25% 0%, 100% 50%, 25% 100%);
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	filter: drop-shadow(0px 0px 10px red) invert(100%);
}

h1 {
	padding-top: 60px;
	padding-bottom: 30px;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	border: 3px solid black;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	border: 2px solid grey;
}
