* {
	margin: 0;
	padding: 0;
	font-family: Cascadia Code;
}
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background: repeating-linear-gradient(
		-45deg,
		red 0%,
		yellow 7.14%,
		limegreen 14.28%,
		cyan 21.4%,
		blue 28.56%,
		magenta 35.7%,
		violet 42.84%,
		red 50%
	);
	background-size: 600vw 600vw;
	animation: slide 30s linear infinite forwards;
}

@keyframes slide {
	0% {
		background-position-x: 0%;
	}
	100% {
		background-position-x: 100%;
	}
}

.banner {
	color: white;
	width: 100%;
	height: auto;
}

.wrapper {
	display: flex;
}

.wrapper.vertical {
	flex-direction: column;
	padding: 10px;
	gap: 3px;
}

.wrapper.horizontal {
	position: sticky;
	align-items: baseline;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.75rem;
	gap: 2rem;
}

.component {
	position: flex;
	border: 2px solid black;
	border-radius: 0.5rem;
	padding: 10;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	left: 0;
	top: calc(100% + 0.25rem);
	background: rgba(0, 0, 0, 0.7);
	padding: 0.75rem;
	border-radius: 0.25rem;
	box-shadow: 0, 2px, 5px, 0, rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.show {
	opacity: 1;
	transform: rotateY(0);
	pointer-events: auto;
}

.link {
	color: white;
	text-decoration: none;
}

.link:hover {
	background-color: black;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.button {
	background-color: inherit;
	border: none;
	text-decoration: none;
	font-size: inherit;
	color: auto;
	padding: 0;
	cursor: pointer;
	font-family: inherit;
}
